%h1.page_title
  Create a new bin
.new_link_form
  = form_for bin do |f|
    = f.fields_for :links, bin.links.build do |link|
      = link.label :location
      = link.url_field :location, {placeholder: "Enter a URL", class: 'link_location'}
    = f.submit "Create", {class: 'link_submit'}
= error_messages_for bin, id: 'link_errors'
#explanation
  %h2.subtitle
    Share links with friends
  %p
    Do you ever find yourself sending links to your friends through email, IMs, twitter, facebook, or other methods?  Do you wish you could save time and just <em>share links with a single click?</em>
  %h3
    Getting started is as simple as:
  %ul
    %li Create a bin 
    %li Bookmark your bin
    %li Get your bookmarklet
    %li Add links with the bookmarklet
    %li Share public or private access with friends
