%h1.page_title
  Create a new bin
.new_link_form
  = form_for bin do |f|
    = f.fields_for :links, bin.links.build do |link|
      = link.label :location
      = link.text_field :location, {placeholder: "Enter a URL or Name", class: 'link_location'}
    = f.submit "Create", {class: 'link_submit'}
= error_messages_for bin, id: 'link_errors'
#service_info
  #getting_started
    %h2.subtitle
      Getting started:
    %ul
      %li Create a bin
      %li Bookmark your bin
      %li Add links
      %li Share
  #explanation
    %h2.subtitle
      Share links with friends
    %p
      Do you ever find yourself sending links to your friends through email,
      IMs, twitter, facebook, or other methods?
      Do you wish you could save time and just
      %em share links with a single click?
    %h3 Sharing is easy
    %p
      Make a bin (a place to hold links) and share either the public or private
      link with friends.
    %p
      Now you can share links with friends even if they're not available.
    %p
      No more sticky notes, emails, or other annoying reminders, just add the link to your bin and
      and forget it!  Just make sure to come back once a day an check what your friends added!
