%h1.page_title
  Create a new bin
.new_link_form
  = form_for bin do |f|
    = f.fields_for :links, bin.links.build do |link|
      = link.label :location
      = link.text_field :location, {value: "Enter a URL"}
    = f.submit "Create"
