%h1.page_title
  Create a new bin
.new_link_form
  = form_for bin do |f|
    = f.fields_for :links, bin.links.build do |link|
      = link.label :location
      = link.url_field :location, {placeholder: "Enter a URL"}
    = f.submit "Create"
= error_messages_for link, id: 'link_errors'
