%h1.page_title
  Current Bin:
  = bin.title
.secret_link
  You must copy this link to return to this page:
  = link_to "Your Secret URL",bin_url(bin.secret_hash)
.new_link_form
  = form_for [bin, link] do |f|
    = f.text_field :location, { value: "Enter a URL" }
    = f.submit "Add"
-unless bin.links.empty?
  %ul.links
    =render bin.links
