%h1.page_title
  Current Bin:
  = bin.title
  = form_for bin do |f|
    = f.label :title, "Change Bin Title:"
    = f.text_field :title
    = f.submit "Change Title"
.secret_link
  You must copy this link to return to this page:
  = link_to "Your Secret URL",bin_url(bin.secret_hash)
  = render 'bookmarklet'
.new_link_form
  = form_for [bin, link] do |f|
    = f.text_field :location, { value: "Enter a URL" }
    = f.submit "Add"
.time_change_zone
  Show links from the last:
  = link_to "24h", bin_path(bin,time: 24)
  = link_to "48h", bin_path(bin,time: 48)
  = link_to "1w" , bin_path(bin,time: 168)
-unless links.empty?
  %ul.links
    =render links
