- content_for :head do
  %link{rel: 'alternate', type: 'application/rss+xml', href: "#{bin_links_url(bin, format: 'xml')}"}
#bookmarklet_helper
  %p
    = image_tag("up_48.png")
    Drag
    = render 'bins/bookmarklet'
    here
    = link_to image_tag("cross.png"), "javascript:$('#bookmarklet_helper').slideUp(1000);"
    = image_tag("up_48.png")
%h1.page_title
  = "#{bin.title} Bin"
  = link_to image_tag("feed-small.png"), bin_links_path(bin,format: 'xml')
  %span.public= bin.public_status.capitalize
#bin_controls
  #bin_access_links
    %ul.bin_access
      %li
        = link_to "Private Link",bin_url(bin.secret_hash)
        = image_tag("information.png", {id: 'info_secret'})
        %li
          = link_to_if bin.allow_public?, "Public Link", public_bin_links_path(bin.public_hash) do
            Bin is Private
          = image_tag("information.png", {id: 'info_public'})
      %li
        = render 'bins/bookmarklet'
        = image_tag("information.png", {id: 'info_bookmarklet'})
      %li
        = link_to "Rename Bin", edit_bin_path(bin)
      - if bin.allow_public?
        %li= link_to "Make this bin private", bin_path(bin, bin: { allow_public:false } ), method: :put
      - else
        %li= link_to "Make this bin public",bin_path(bin, bin: { allow_public:true } ), method: :put
      %li= link_to "RSS Feed", bin_links_path(bin, format: 'xml')
  #bin_explanation
    .help#base_help
      = link_to "", 'javascript:$(".help").slideUp(1500);'
      %h3 What is a bin?
      %p
        %em A bin
        is a place to put links that you want to share with others.
        You may share either a public or private link to this bin that will allow others to see these links.
    .help#private_help{style: 'display: none'}
      = link_to "", 'javascript:$(".help").slideUp(1500);'
      %h3 What is a private link?
      %p
        The
        %em private link
        allows changes to be made by anyone at any time, so share it wiseley.
    .help#public_help{style: 'display: none'}
      = link_to "", 'javascript:$(".help").slideUp(1500);'
      %h3 What is a public link?
      %p
        The
        %em public link
        will allow people to see links that have been shared, but not make any changes or add any links.  You can share this with anyone safely.
    .help#bookmarklet_help{style: 'display: none'}
      = link_to "", 'javascript:$(".help").slideUp(1500);'
      %h3 What is a bookmarklet?
      %p
        The
        %em bookmarklet
        is a quick-save button for your bin.  Drag the bookmarklet to your bookmark bar in your browser, and you can click it from any page to have that page added to your bin.  You'll see a notification in the top left corner of the current page to indicate that it was saved.
.new_link_form
  = form_for [bin,link] do |f|
    #link_fields
      = f.label :location
      = f.url_field :location, {placeholder: "Enter a URL", class: 'link_location'}
      = f.submit "Add", {class: 'link_submit'}
= error_messages_for link, id: 'link_errors'

#bin_links
  #time_frame_selection
    Show links from the last:
    = link_to "24h", "#links/24"
    = link_to "48h", "#links/48"
    = link_to "1w", "#links/168"
  %ul.links
%script#link-template{type: "text/template"}
  %a{href: "{{ location }}" }
    {{ title }}
  %a{href: '#', class: 'destroy'} Delete

- content_for :javascripts do
  :javascript
    $("#info_public").click(function() {
      $(".help").hide();
      $("#public_help").show();
    });
    $("#info_secret").click(function() {
      $(".help").hide();
      $("#private_help").show();
    });
    $("#info_bookmarklet").click(function() {
      $(".help").hide();
      $("#bookmarklet_help").show();
    });
  %script
    = render 'model.js'
