%h1.page_title
  = "#{bin.title} Bin"
  %span.public= bin.public_status.capitalize

#bin_controls
  Access your bin:
  %ul.bin_access
    %li= link_to "Your Secret URL",bin_url(bin.secret_hash)
    %li= render 'bins/bookmarklet'
    %li= link_to_if bin.allow_public?, "Public Link", public_bin_links_path(bin.public_hash)
    - unless bin.allow_public?
      %li= link_to "Make this bin public",bin_path(bin, bin: { allow_public:true } ), method: :put
    - else
      %li= link_to "Make this bin private", bin_path(bin, bin: { allow_public:false } ), method: :put
  = form_for bin do |f|
    = f.label :title, "Change Bin Title:"
    = f.text_field :title
    = f.submit "Change Title"
.new_link_form
  = form_for [bin,link] do |f|
    #link_fields
      = f.label :location
      = f.url_field :location, {placeholder: "Enter a URL", class: 'link_location'}
      = f.submit "Add", {class: 'link_submit'}
= error_messages_for link, id: 'link_errors'
= render 'listing'
