%h1.site_title
  = link_to "this.isby.us", root_path
#tagline
  ad-hoc link sharing
  #header_navigation
    = link_to "home", root_path
    = link_to "latest", links_latest_path
    = link_to "about", "#"
    = link_to "help", "#"
